@use '../../utils/sass-utils/variables';

.header {
    width: 100%;
    height: 80px;
    background-color: variables.$main-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__buttons {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logged {
            width: 320px;
            @extend .header__buttons;
        }
    }
}